extends layout

block content
      .jumbotron

        h1 Move the TV
      //
        p.lead
          | Clip the TV allows users to share their favorite video clips using their mobile and desktop browser. Share your favorite video clips with friends using this easy-to-use trimmer. Simply adjust the left and right sliders to create a clip with a beginning and the end. Once you're done, share with your friends.
        a.btn.btn-large.btn-success(href='/tv') Watch now &raquo;

     //
      .row-fluid.marketing
        .span6
          h4 Objective
          p
            | Through social technology and second screen thinking, new opportunities for rich, interactive storytelling can create new ways to engage audiences online.
          h4 Audience
          ul
            li Second screen consumers
            li Social TV viewers
            li Internet TV users
            li Interactive Producers
            li Transmedia academics
        .span6
          h4 Strategy
          p
            | Present a second screen experience using rapid technologies (like HTML, CSS and Javascript) to help producers better understand new opportunities.
          h4 Tools
          ul
            li
              a(href="http://nodejs.org/", target="_new") NodeJS
            li
              a(href="http://expressjs.com/", target="_new") ExpressJS
            li
              a(href="http://socket.io/", target="_new") Socket.io
            li
              a(href="https://github.com/remy/nodemon", target="_new") Nodemon
            li
              a(href="http://twitter.github.com/bootstrap/", target="_new") Twitter Bootstrap
            li 
              a(href="http://ghusse.github.com/jQRangeSlider/", target="_new") jQRangeSlider
            li
              a(href="https://developers.google.com/youtube/v3/", target="_new") YouTube API v3