doctype 5
html(lang="en")
  head
    title=title

    meta(name="gtv-autozoom", content="off")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='/css/twitter/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/themes/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='/css/twitter/bootstrap-responsive.min.css')
    
    link(rel="stylesheet", href="/css/smoothness/jquery-ui-1.9.2.custom.min.css")
    
    block stylesheets

    script(type="text/javascript", charset="utf-8", src="http://code.jquery.com/jquery-1.8.3.min.js")
    script(type="text/javascript", charset="utf-8", src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js")
    //Socket.io
    script(type="text/javascript", src='/socket.io/socket.io.js')

    //Lets load up prefixfree to handle CSS3 vendor prefixes (http://leaverou.github.com/prefixfree/)
    script(type="text/javascript", charset="utf-8", src="http://thecodeplayer.com/uploads/js/prefixfree.js")
    script(type="text/javascript", charset="utf-8")
      $(document).ready(function(){
        $.getScript( "/js/main.js" );
      });

    block javascripts

  body
    .container
      .masthead
        h3.muted 
          a(href="http://screenscollide.com", target="_new") ScreensCollide.com
          ul.nav.nav-pills
            li.active
              a(href='/') Home
            li
              a(href='/tv') Try
          a(href="https://github.com/screenscollide/magnifythetv", target="_new")
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

      hr

      block content

      br
      .footer
        br
        p &copy; 2013 
          a(href="//twitter.com/screenscollide", target="_new") @screenscollide
          &nbsp;
          a(href="//twitter.com/chrisaiv", target="_new") @chrisaiv