extends layout

block stylesheets
  link(rel="stylesheet", href="/css/style.css")

block javascripts
  script(type="text/javascript", charset="utf-8", src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
  script(type="text/javascript", charset="utf-8", src="/js/plugins/pep/jquery.pep.min.js")
  script(type="text/javascript", charset="utf-8")
    $(document).ready(function(){
      //https://github.com/briangonzalez/jquery.pep.js
      $.getScript("/js/main.js");
    });

block content
  .jumbotron
  
    //h1 Remote
    
    p.lead
      | Move the ball around
    #parent
      div(class="pep peppable")