extends layout

block stylesheets
  link(rel="stylesheet", href="/css/tv.css")
  style
    #videoDiv{ margin: 0 auto; }

block javascripts
  script(type="text/javascript", charset="utf-8")
    $(document).ready(function(){
      $.getScript( "/js/com.chrisaiv.TV.js" );
      //$.getScript( "/js/tv.js" );      
    });

block content
  .jumbotron
    .magnify
      //This is the magnifying glass which will contain the original/large version
      .large
      img(class="small", src="http://thecodeplayer.com/uploads/media/iphone.jpg", width=200)
      