extends layout

block stylesheets
  style
    #videoDiv{ margin: 0 auto; }

block javascripts
  script(type="text/javascript", charset="utf-8", src="http://www.google.com/jsapi")
  script(type="text/javascript", charset="utf-8") google.load("swfobject", "2.1");
  script(type="text/javascript", charset="utf-8")
    google.setOnLoadCallback(function(){
      $(document).ready(function(){
        $.getScript( "/js/com.chrisaiv.VideoPlayer.js", getScriptCompleteHandler );
          function getScriptCompleteHandler(e){
            VideoPlayer.initialize( );
          }
        });
      });

block content
      .jumbotron
        h1 Video
        #videoDiv